.example {
  font-size: calc(10px + 0.5vmin);
}

.content {
  background: rgb(235, 235, 235);
  color: rgb(45, 45, 45);
  font-family: AppleSDGothicNeo-Thin;
  border-radius: 10px;
  padding: 3em 2em;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.rowC {
  display: flex;
  flex-direction: row;
}
